.sidebar {
  padding: 15px 10px;
  width: 250px;
  height: fit-content;
  margin-left: 30px;
  border: 1px solid rgb(214, 211, 211);
  border-radius: 10px;
}

.sidebar > h3 {
  margin: 5px;
}

.sidebar > center > button {
  font-size: larger;
  width: 100px;
}

.radio > label {
  display: block;
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
}

.radio > label:hover{
    background-color: rgba(245, 245, 245, 0.5);
    border-radius: 5px;
} 

.radio > label > input {
  width: 17px;
  height: 17px;
  margin-right: 10px;
  color: #42b883;
}
.categories {
  height: 200px;
  overflow: auto;
  margin-top: 15px;
  scrollbar-width: thin;
}

.brands {
  height: 200px;
  overflow: auto;
  margin-top: 15px;
  scrollbar-width: thin;
}

.price {
    display: flex;
    align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.price > input {
  margin-top: 10px;
  width: 80px;
  height: 25px;
  font-size: large;
}

.button {
  border: none;
  border-radius: 5px;
  background-color: #4ccf94;
  color: white;
}

.button:hover {
  border: none;
  background-color: #3da375;
  color: white;
}
