.card {
  padding: 5px;
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border: 1px solid rgb(143, 143, 143);
  background-color: rgb(248, 248, 248);
  box-shadow: 1px 1px 1px rgb(107, 107, 107);
  border-radius: 5px;
}

.card:hover{
  box-shadow: 2px 2px 4px 2px  rgb(107, 107, 107);
}

img {
  width: 240px;
  height: 160px;
  object-fit: cover;
}

.title {
  margin-bottom: 0px;
}

.description:nth-child(4) {
  display: none;
}

.description {
  margin-bottom: 0px;
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.others {
  width: 140px;
  text-align: center;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.price{
  font-size: 1.5rem;
  font-weight: 500;
  color: #42b883;
  font-weight: 600;
}

.add-basket{
  width: 140px;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #4ccf94;
  font-size:medium;
  color:white;
  font-weight: 600;
  transition: background-color .2s ease-in;
}

.add-basket:hover{
  background-color: #3da375;
  transition: background-color .2s ease-out;
}