.checkBox {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  text-transform: capitalize;
}

.checkBox > input {
  width: 17px; 
  height: 17px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
  accent-color:#42b883;
}

.checkBox:hover{
  background-color:#42b88310;
  border-radius: 2px;
} 


